<div class="col-md-3 float-left">
    <a routerLink="bikes">
        <img src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343__340.jpg" width="100%" alt="Bike Image">
    </a>
    <a routerLink="cars">
        <img src="https://cdn.pixabay.com/photo/2015/05/28/23/12/auto-788747__340.jpg" width="100%" alt="Car Image">
    </a>
    <a routerLink="planes">
        <img src="https://cdn.pixabay.com/photo/2014/12/29/15/09/military-raptor-582888__340.jpg" width="100%" alt="Plane Image">
    </a>
</div>
<router-outlet></router-outlet>