<div class="container mt-5">
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
                <tr>
                    <th>Index</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let user of gitUsers; index as i'>
                    <td>{{i+1}}</td>
                    <td>{{user.node_id}}</td>
                    <td>{{user.login}}</td>
                    <td>
                        <img [src]="user.avatar_url" width="100px" height="100px" alt="User Image">
                    </td>
                    <td>{{user.url}}</td>
                </tr>
            </tbody>
        </table>
    </div>
